body {
    font-family: 'Varela Round',sans-serif;
    color: #666;
    letter-spacing: .5px;
}

.navbar .navbar-brand {
    font-weight: 700;
    position: absolute;
    left: 30px;
    letter-spacing: 5px;
}

.navbar .navbar-nav .btn-submit-recipe {
    position: absolute;
    right: 30px;
}

.navbar .navbar-nav .btn-submit-recipe a {
    margin-top: 13px;
    padding: 10px;
    color: #fff;
    border-radius: 4px;
    background-color: #e13b2b;
}

.navbar-light .navbar-nav .nav-link {
    font-weight: 700;
    padding: 23px 25px;
    color: #333;
}

.shadow {
    box-shadow: 0 0 15px rgba(0, 0, 0, .1);
}

.baner {
    margin-top: 70px;
    margin-bottom: 50px;
    text-align: center;
}

.shadow1 {
    box-shadow: 0 6px 15px rgba(36, 37, 38, .08);
}

.cover {
    display: inline-block;
    padding: 3px 15px;
    color: #666;
    border: 1px solid #dedede;
    border-radius: 50px;
}

.cover1 {
    display: inline-block;
    padding: 10px 25px;
    color: #666;
    border: 1px solid #dedede;
    border-radius: 50px;
}

.recipes {
    padding: 60px 0;
    background-color: #f7f7f7;
}

.list {
    margin-top: 80px;
}

.list h5 {
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #dedede;
}

.footer {
    margin-top: 40px;
    padding: 50px 0;
    background-color: #333;
}

.footer .search h5 {
    margin-bottom: 20px;
    padding-bottom: 10px;
    color: #fff;
    border-bottom: 1px dashed #484848;
}

.footer p,
.footer ul li a,
.footer ul li a:hover {
    color: #858585;
}

.footer li {
    list-style: none;
}

.copyright {
    font-size: .9rem;
    padding: 15px 0;
    background-color: #212121;
    color: #858585;
}

.baner h4 {
    font-size: 1rem;
    text-transform: uppercase;
    color: #cacaca;
    letter-spacing: 2px;
    font-weight: 700;
}

.baner h3 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 40px;
    color: #333;
}

.baner h2 {
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: capitalize;
}

.recipes h5 {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #dadada;
}

.id {
    margin-bottom: 40px;
    text-align: center;
    border: 1px solid #dedede;
}


/* browser recipes*/

.search {
    padding: 60px 0;
    background-color: #f8f8f8;
}

.search h5 {
    margin-bottom: 20px;
    padding-bottom: 10px;
    color: #e13b2b;
    border-bottom: 1px dashed #dedede;
}

.banner h3 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #333;
}

.banner h4 {
    font-size: 1rem;
    text-transform: uppercase;
    color: #cacaca;
    letter-spacing: 2px;
    font-weight: 700;
}

.banner {
    margin-top: 70px;
    margin-bottom: 50px;
    text-align: center;
}

.css {
    margin-bottom: 40px;
}

.detail {
    color: #fff;
    background-color: #e13b2b;
}

.ingredients1 ul {
    padding: 30px 30px 30px 0;
    list-style: none;
    background: #f9f9f9;
}

.ingredients1 li {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #dedede;
}

.directions li {
    position: relative;
    margin-bottom: 30px;
    padding-left: 20px;
}

.nutrition-fact {
    border-top: 1px dashed #dedede;
}

.nutrition-fact h3 {
    font-size: .9rem;
    position: absolute;
    margin-top: -20px;
    left: 0;
    padding: 8px 10px;
    color: #fff;
    background-color: #666;
}

.nutrition-fact-body {
    margin-top: 20px;
    border-bottom: 1px dashed #dedede;
}

.nutrition-fact-body div {
    width: 20%;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

.card-style {
    border: 1px dashed #dedede!important;
}

.card-style-header p {
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.card-mod {
    margin-left: 85px;
}

.reply {
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 4px;
}


/* contact page */

.page {
    margin-top: 70px;
    margin-bottom: 50px;
}

.page h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 40px;
    color: #333;
}

.sua {
    color: #fff;
    background-color: #e13b2b;
}

.title{
    padding: 30px 0;
    background-color: #f8f8f8;
}
.box {
    background-color: #f8f8f8;
    margin-bottom: 15px;
    padding: 20px;
    text-align: center;
}
.hr-style{
    border-bottom: 1px dashed #dedede;
}